@import url('https://fonts.cdnfonts.com/css/uni-sans-regular');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.header-bg {
    background-color: #333;
    height: 65px;
    position: relative;
}

.header-image {
    height: inherit;
    width: inherit;
    background-color: #6CC1FF;
}

.header-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
}

.header-text {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1{
    font-size: 12px;
    font-family: 'Uni Sans Demo';
    color: #A10605;
    text-align: center;
}

.header-text h1 span {
    color: #050DA1;
}

.nav {
    height: 90px;
    /* background-color: #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.nav .nav-logo {
    display: flex;
    align-items: center;
    gap: .2em;
}

.nav .nav-logo img {
    height: 100%;
    width: 100%;
}

.nav .nav-logo h1,p {
    font-size: 6px;
}

.nav .nav-logo h1 {
    width: 100px;
    font-size: 8px;
    line-height: 10px;
}

.nav .nav-logo p{
    color: #777777;
}

.nav .nav-menu {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: .3em;
}


.nav .nav-menu .rect {
    height: 2px;
    background-color: #333;
    border-radius: 10px;
}

.nav-links {
    display: none;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #343434;
    margin: 0 10px;
    font-size: 12px;
}


.about-banner {
    height: 200px;
    /* overflow: hidden; */

    position: relative;
    background-color: black;
    font-size: 20px;
}

.about-banner img {
    opacity: .5;
}

.about-banner .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

    color: white;
}

.about-banner .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin: 20px 0;
}

.about-banner .cards .card {
    box-shadow: 0 0 30px rgb(193, 193, 193);
    height: 200px;
    width: 250px;
    border-radius: 5px;
    padding: 1em;
}

.about-banner .cards .card .card-profile {
    display: flex;
    align-items: center;
    gap: .4em;
}

.about-banner .cards .card .card-profile .card-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}

.about-banner .cards .card .card-profile .card-image img {
    height: 100%;
    width: 100%;
}

.about-banner .cards .card .card-profile .card-info {

}

.about-banner .cards .card .card-text p{
    font-size: 6px;
    margin-top: 15px;
    line-height: 15px;
}

.vmgo {}

.vmgo .vmgo-header {
    height: 50px;
    background-color: #CA2F2E;
    border-radius: 3px;
    margin: 800px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.bright-future {
    /* height: 300px; */
    /* border: 1px solid red; */
    margin: 30px 10px;
}

.bright-future .bright-card-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bright-future .bright-card-1 p span {
    color: #050DA1;
}

.bright-future .bright-card-1 p:nth-child(1) {
    font-size: 12px;
    color: #A10605;
}

.bright-future .bright-card-2 {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    line-height: 10px;
}

.bright-future .bright-card-3 .vision{
    border-left: 4px solid #050DA1;
    padding: 0 0 0 .4em;
    margin-top: 20px;
}

.bright-future .bright-card-3 p {
    line-height: 12px;
    margin-left: 12px;
}



.footer {
    background-color: #333;
    /* height: 300px; */
}

.footer .footer-logo {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 1em;
    color: white;

    vertical-align: top;
}

.footer .footer-text p:nth-child(1) {   
    font-size: 10px;
    line-height: 15px;
} 

.footer-details .footer-career {
    /* background-color: red; */
    padding: 1em;
}

.footer-details .footer-career p {
    font-size: 12px;
    color: white;
}

.footer-details .footer-career div li {
    list-style: none;
}


.footer-details .footer-career div li a {
    text-decoration: none;
    color: white;
    font-size: 8px;
}


.footer-details .footer-career div li a:hover {
    text-decoration: underline;
}

.footer .footer-details {
    display: flex;
    gap: 1em;
}

.footer-newsletter {
    padding: 1em;
}

.footer-newsletter .newsletter-header {
    color: white;
}

.footer-newsletter .newsletter-header h1 {
    font-size: 12px;
}

.footer-newsletter .newsletter-input {
    margin-top: 10px;
    /* background-color: red; */

    display: flex;
    gap: .5em;
    align-items: center;
}

.footer-newsletter .newsletter-input input {
    padding: 3px;
}

.footer-newsletter .newsletter-input input::placeholder {
    font-size: 10px;

}

.footer-newsletter .newsletter-input button {
    border: 0;
    background-color: #FFC600;
    font-size: 10px;
    text-transform: uppercase;
    width: 70px;
    height: 22px;
    border-radius: 2px;
}

.credits {
    height: auto;
    background-color: red;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10px;
}

.credits p {
    font-size: 4px;
    color: white;
}






/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgb(222, 101, 101), yellow);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }