@import url('https://fonts.cdnfonts.com/css/uni-sans-regular');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header-bg {
    background-color: #333;
    height: 65px;
    position: relative;
}

.header-image {
    height: inherit;
    width: inherit;
    background-color: #6CC1FF;
}

.header-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
}

.header-text {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1{
    font-size: 12px;
    font-family: 'Uni Sans Demo';
    color: #A10605;
    text-align: center;
}

.header-text h1 span {
    color: #050DA1;
}

.nav {
    height: 90px;
    /* background-color: #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    position: sticky;
    top: 0;
    background-color: white;
}

.nav .nav-logo {
    display: flex;
    align-items: center;
    gap: .2em;
}

.nav .nav-logo img {
    height: 100%;
    width: 100%;
}

.nav .nav-logo .nav-logoCont {
    /* background-color: red; */
    
}

.nav .nav-logo .nav-text {
    /* background-color: blue; */
}

.nav .nav-logo h1,p {
    font-size: 6px;
}

.nav .nav-logo h1 {
    width: 100px;
    font-size: 8px;
    line-height: 10px;
}

.nav .nav-logo p{
    color: #777777;
}

.nav .nav-menu {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: .3em;
}


.nav .nav-menu .rect {
    height: 2px;
    background-color: #333;
    border-radius: 10px;
}

.header-video {
    background-color: #333;
    height: 200px;
    overflow: hidden;
}

.header-video video {
    height: 100%;
    width: 130%;
    object-fit: cover;
}

.featured-news {
    /* border: 1px solid red; */
    height: 100vh;
    margin: 30px;
}

.featured-news .featured-header {
    border-left: 3px solid #050DA1;
    padding: 0 0 0 10px;
}

.featured-news .featured-header p {
    font-size: 14px;
}

.featured-cont {
    margin: 30px 0;
    padding: 0 0 1em 0;
    /* background-color: #333; */
    width: 70%;

    border-bottom: 1px solid grey;
}

.featured-cont .featured-thumbnail {
    /* border: 1px solid red; */
    height: 30%;
    overflow: hidden;
}

.featured-cont .featured-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured-cont .featured-title {
    /* border: 1px solid red; */
    height: 30%;
}

.featured-cont .featured-title h1 {
    font-size: 12px;
    color: #003153;
    line-height: 15px;
    margin: 5px 0;
}

.featured-cont .featured-title p:nth-child(1) {
    font-size: 14px;
}

.featured-cont .featured-info {
    /* border: 1px solid red; */
    height: 40%;
}

.featured-cont .featured-info  p {
    font-size: 14px;
}